body { 
	background: url("https://i.imgur.com/f7sWPT0.png") left / cover; 
	cursor: url(https://i.imgur.com/INQmRyR.png), auto;
}
.button.mainmenu1 {
	background: linear-gradient(to buttom, blue, #5f5f5f);	
}
.button.mainmenu1:hover {
	background: linear-gradient(to buttom, #5f5f5f), red);	
}
chat.log {
	font-family: Kristen ITC;	
}
